@model IEnumerable<QuanLyNhanSu.Models.EmployeesModel>
@{
    ViewData["Title"] = "Danh sách Nhân Sự";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="DangKyNhanVien">Thêm nhân sự</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.employee_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.first_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.last_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.departments.department_name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.employee_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.first_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.last_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.Role_Name)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.departments.department_name)
                </td>
            <td>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Tùy chỉnh
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item text-success" href="@Url.Action("Edit", new {id=item.employee_id})">Chỉnh sửa</a></li>
                            <li><a class="dropdown-item text-warning" href="@Url.Action("Details", new {id=item.employee_id})">Chi tiết</a></li>
                            <li><a class="dropdown-item text-danger" href="@Url.Action("Delete", new {id=item.employee_id})">Xóa</a></li>
                        </ul>
                    </div>
            </td>
        </tr>
}
    </tbody>
</table>