@model IEnumerable<QuanLyNhanSu.Models.DeductionModel>

@{
    ViewData["Title"] = "Khấu trừ lương";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a class="btn btn-outline-primary mb-3" href="@Url.Action("Index", "Home")">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
    </svg>
    Trở về
</a>

<div class="container">
    <div class="card shadow mb-5">
        <div class="card-header text-center">
            <h1 class="my-2">Tiền Khấu Trừ</h1>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover table-bordered text-center align-middle">
                    <thead class="table-dark">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Deduction_Id)</th>
                            <th>@Html.DisplayNameFor(model => model.Employee_Id)</th>
                            <th>@Html.DisplayNameFor(model => model.Deduction_Amount)</th>
                            <th>@Html.DisplayNameFor(model => model.Deduction_Date)</th>
                            <th>@Html.DisplayNameFor(model => model.Reason)</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Deduction_Id)</td>
                                <td>@Html.DisplayFor(modelItem => item.Employee_Id)</td>
                                <td>@Html.DisplayFor(modelItem => item.Deduction_Amount)</td>
                                <td>@Html.DisplayFor(modelItem => item.Deduction_Date)</td>
                                <td>@Html.DisplayFor(modelItem => item.Reason)</td>
                                <td>
                                    <div class="dropdown dropstart">
                                        <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="actionMenu" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                                            Tùy chỉnh
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="actionMenu">
                                            <li>
                                                @Html.ActionLink("Edit", "Edit", new { id = item.Deduction_Id }, new { @class = "dropdown-item", style = "color: green;" })
                                            </li>
                                            <li>
                                                @Html.ActionLink("Details", "Details", new { id = item.Deduction_Id }, new { @class = "dropdown-item", style = "color: orange;" })
                                            </li>
                                            <li>
                                                @Html.ActionLink("Delete", "Delete", new { id = item.Deduction_Id }, new { @class = "dropdown-item text-danger" })
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
