@model QuanLyNhanSu.Models.EmployeesModel

@{
    ViewData["Title"] = "Thông tin nhân viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-5">
    <a class="btn btn-outline-primary mb-4" href="@Url.Action("Index", "Home")">
        <i class="bi bi-arrow-left"></i> Trở về
    </a>

    <div class="card shadow-lg w-75 mx-auto">
        <div class="card-header text-center bg-dark text-white">
            <h3>Thông Tin Nhân Viên</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <strong>@Html.DisplayNameFor(model => model.employee_id):</strong>
                    <span>@Html.DisplayFor(model => model.employee_id)</span>
                </div>
                <div class="col-md-6 mb-3">
                    <strong>@Html.DisplayNameFor(model => model.first_name):</strong>
                    <span>@Html.DisplayFor(model => model.first_name)</span>
                </div>
                <div class="col-md-6 mb-3">
                    <strong>@Html.DisplayNameFor(model => model.last_name):</strong>
                    <span>@Html.DisplayFor(model => model.last_name)</span>
                </div>
                <div class="col-md-6 mb-3">
                    <strong>@Html.DisplayNameFor(model => model.email):</strong>
                    <span>@Html.DisplayFor(model => model.email)</span>
                </div>
                <div class="col-md-6 mb-3">
                    <strong>@Html.DisplayNameFor(model => model.phone):</strong>
                    <span>@Html.DisplayFor(model => model.phone)</span>
                </div>
                <div class="col-md-6 mb-3">
                    <strong>@Html.DisplayNameFor(model => model.gender):</strong>
                    <span>@Html.DisplayFor(model => model.gender)</span>
                </div>
                <div class="col-md-6 mb-3">
                    <strong>@Html.DisplayNameFor(model => model.hire_date):</strong>
                    <span>@Html.DisplayFor(model => model.hire_date)</span>
                </div>
                <div class="col-md-6 mb-3">
                    <strong>@Html.DisplayNameFor(model => model.expired_date):</strong>
                    <span>@Html.DisplayFor(model => model.expired_date)</span>
                </div>
                <div class="col-md-6 mb-3">
                    <strong>@Html.DisplayNameFor(model => model.Positions.position_name):</strong>
                    <span>@Html.DisplayFor(model => model.Positions.position_name)</span>
                </div>
                <div class="col-md-6 mb-3">
                    <strong>@Html.DisplayNameFor(model => model.departments.department_name):</strong>
                    <span>@Html.DisplayFor(model => model.departments.department_name)</span>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
        </div>
    </div>
</div>
