@model IEnumerable<QuanLyNhanSu.Models.BonusModel>

@{
    ViewData["Title"] = "Tiền thưởng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a class="btn btn-outline-primary mb-3" href="@Url.Action("Index", "Home")">
    <i class="bi bi-arrow-left"></i> Trở về
</a>

<div class="container">
    <div class="card shadow mb-5">
        <div class="card-header">
            <h1 class="text-center my-2">Tiền Thưởng</h1>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover table-bordered text-center align-middle">
                    <thead class="table-dark">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Bonus_Id)</th>
                            <th>@Html.DisplayNameFor(model => model.Employee_Id)</th>
                            <th>@Html.DisplayNameFor(model => model.Bonus_Amount)</th>
                            <th>@Html.DisplayNameFor(model => model.Bonus_Date)</th>
                            <th>@Html.DisplayNameFor(model => model.Reason)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Bonus_Id)</td>
                                <td>@Html.DisplayFor(modelItem => item.Employee_Id)</td>
                                <td>@Html.DisplayFor(modelItem => item.Bonus_Amount)</td>
                                <td>@Html.DisplayFor(modelItem => item.Bonus_Date)</td>
                                <td>@Html.DisplayFor(modelItem => item.Reason)</td>
                                
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>