@model IEnumerable<QuanLyNhanSu.Models.SalaryModel>

@{
    ViewData["Title"] = "Tiền lương";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a class="btn text-primary mb-2" href="@Url.Action("Index", "Home")">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
    </svg>
    Trở về
</a>
<h1>Tiền Lương</h1>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Salary_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bonus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deduction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total_Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Begin_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End_Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Salary_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bonus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deduction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total_Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Begin_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End_Date)
            </td>
            <td>
                <a class="btn btn-outline-success" href="@Url.Action("ChiTietLuong")">Chi tiết</a>
            </td>
        </tr>
}
    </tbody>
</table>
