@model IEnumerable<QuanLyNhanSu.Models.BonusModel>

@{
    ViewData["Title"] = "Tiền thưởng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a class="btn btn-outline-primary mb-3" href="@Url.Action("Index", "Home")">
    <i class="bi bi-arrow-left"></i> Trở về
</a>

<div class="container">
    <h1 class="text-center mb-4">Tiền Thưởng</h1>
    <div class="table-responsive">
        <table class="table table-hover table-bordered text-center align-middle">
            <thead class="table-dark">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Bonus_Id)</th>
                    <th>@Html.DisplayNameFor(model => model.Employee_Id)</th>
                    <th>@Html.DisplayNameFor(model => model.Bonus_Amount)</th>
                    <th>@Html.DisplayNameFor(model => model.Bonus_Date)</th>
                    <th>@Html.DisplayNameFor(model => model.Reason)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Bonus_Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.Employee_Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.Bonus_Amount)</td>
                        <td>@Html.DisplayFor(modelItem => item.Bonus_Date)</td>
                        <td>@Html.DisplayFor(modelItem => item.Reason)</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="actionMenu" data-bs-toggle="dropdown" aria-expanded="false">
                                    Tùy chỉnh
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="actionMenu">
                                    <li>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Bonus_Id }, new { @class = "dropdown-item", style = "color: green;" })
                                    </li>
                                    <li>
                                        @Html.ActionLink("Details", "Details", new { id = item.Bonus_Id }, new { @class = "dropdown-item", style = "color: orange;" })
                                    </li>
                                    <li>
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Bonus_Id }, new { @class = "dropdown-item", style = "color: red;" })
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
