@using System.Text.Json;
@{
    var employeeData = Context.Request.Cookies["EmployeeData"];
    var employeeConverted = new EmployeesModel();
    if (employeeData != null)
    {
        // Chuyển đổi chuỗi JSON thành đối tượng Employee
        employeeConverted = JsonSerializer.Deserialize<EmployeesModel>(employeeData);
        var roleID = employeeConverted.role_id;
    }

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Admin Panel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/QuanLyNhanSu.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3 py-3">
            <div class="container d-flex justify-content-between align-items-center">
                <a class="navbar-brand d-flex align-items-center fw-bold text-primary" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-user-friends me-2"></i> QuanLyNhanSu
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 d-flex align-items-center">
                        <li class="nav-item">
                            <a class="nav-link text-dark fw-semibold" asp-area="" asp-controller="Home" asp-action="Index">
                                <i class="fas fa-home me-1"></i> Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark fw-semibold" asp-area="" asp-controller="Home" asp-action="Privacy">
                                <i class="fas fa-user-shield me-1"></i> Privacy
                            </a>
                        </li>
                    </ul>
                    <!--Kiểm tra có dữ liệu người dùng đăng nhập hay không-->
                    @if (employeeData != null)
                    {
                        <!-- Example single danger button -->
                        <div class="btn-group">
                            <button class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Xin chào @employeeConverted.last_name
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item text-primary" href="@Url.Action("Index", "Admin")">Trang Quản Lý</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <form asp-controller="Login" asp-action="Logout" method="post">
                                        <button class="dropdown-item text-danger">Đăng xuất</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    }
                    <!--Hiện mục đăng nhập nếu không có dữ liệu người dùng-->
                    @if (employeeData == null)
                    {
                        <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Login">Đăng nhập</a>
                    }
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <div class="row justify-content-evenly">
            <!-- Sidebar -->
            <div class="col-md-2 sidebar p-3">
                <h4 class="mb-4">Dashboard</h4>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a class="nav-link" href="@Url.Action("Index", "Home")">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                                <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5" />
                            </svg> Trang chủ
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a class="nav-link" href="@Url.Action("Index", "departments")">Phòng ban</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a class="nav-link" href="@Url.Action("Index", "Employees")">Nhân sự</a>
                    </li>

                    <li class="nav-item mb-2">
                        <div class="accordion accordion-flush" id="accordionChamCong">
                            <div class="accordion-item cursor-pointer">
                                <div class="accordion-header">
                                    <a class="accordion-button collapsed"  data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                        Chấm Công
                                    </a>
                                </div>
                                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionChamCong">
                                    <div class="accordion-body">
                                        <ul class="nav flex-column">
                                            <li class="nav-item mb-2">
                                                <a class="nav-link" href="@Url.Action("ChamCong", "Attendances")">Chấm Công</a>
                                            </li>
                                            <li class="nav-item mb-2">
                                                <a class="nav-link" href="@Url.Action("DanhSach", "Attendances")">Danh Sách</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item cursor-pointer">
                                <div class="accordion-header">
                                    <a class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                        Lương Thưởng
                                    </a>
                                </div>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionChamCong">
                                    <div class="accordion-body">
                                        <ul class="nav flex-column">
                                            <li class="nav-item mb-2">
                                                <a class="nav-link" href="@Url.Action("Index", "Bonus")">Tiền Thưởng</a>
                                            </li>
                                            <li class="nav-item mb-2">
                                                <a class="nav-link" href="@Url.Action("Index", "Deduction")">Tiền Khấu Trừ</a>
                                            </li>
                                            <li class="nav-item mb-2">
                                                <a class="nav-link" href="@Url.Action("Index", "Salary")">Tính Lương</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>
                    
                </ul>
            </div>

            <!-- Main Content -->
            <div class="col-md-9 main-content">
                @RenderBody()
            </div>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container d-flex justify-content-center align-items-center">
            Nhóm 1A - QuanLyNhanSu - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/formatCurrency.js"></script>
    <script type="text/javascript">
        var roleID = '@employeeConverted.role_id'; // Lấy role_id từ Model
        if (roleID != 2) {
            window.location.href = '/Home/Index'; // Chuyển hướng đến trang khác
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
