@model IEnumerable<QuanLyNhanSu.Models.AttendanceModel>

@{
    ViewData["Title"] = "Danh Sách Chấm Công";
}

<h1>@ViewData["Title"] Ngày @ViewBag.SelectedDate</h1>

<!-- Form chọn ngày -->
<div class="row">
    <form asp-action="DanhSach" method="get" class="col-md-6">
        <div class="form-group col-md-6">
            <label for="dateSelect">Chọn ngày:</label>
            <input type="date" id="dateSelect" name="selectedDate" value="@ViewBag.SelectedDate" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary my-2">Xem</button>
    </form>
    <div class="col-md-4 form-group">
        <label class="control-label" for="statusID">Chọn trạng thái</label>
        <select class="form-control" id="statusID"></select>
    </div>
</div>
<table class="table attendanceTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Attendance_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee_Id)
            </th>
            <th>
                Họ và tên
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attendance_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status_id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="attendanceTableBody">
@foreach (var item in Model) {
        <tr data-status-id="@item.AttendanceStatus.status_id">
            <td>
                @Html.DisplayFor(modelItem => item.Attendance_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee_Id)
            </td>
            <td>
                @Html.Raw(item.Employee.first_name + " " + item.Employee.last_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attendance_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttendanceStatus.status_name)
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Tùy chỉnh
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item text-success" href="@Url.Action("Edit", new { id = item.Attendance_Id })">Chỉnh sửa</a></li>
                        <li><button class="dropdown-item text-danger" onclick="openDeleteModal(@item.Attendance_Id)">Xóa</button></li>
                    </ul>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function (){
        loadAttendanceStatus();
        $('#statusID').change(function () {
            FilterDataByStatus();
        })
    })
    function loadAttendanceStatus(){
        $.ajax({
            url: '@Url.Action("GetAttendanceStatus", "Attendances")',
            type: 'GET',
            success: function (response) {
                // Reset the position dropdown
                $('#statusID').empty();
                $('#statusID').append('<option readonly value="">Tất cả</option>');

                // Add new positions to the dropdown
                $.each(response, function (index, value) {
                    $('#statusID').append('<option value="' + value.value + '">' + value.text + '</option>');
                });
            },
            error: function () {
                alert('Lỗi khi tải dữ liệu vị trí.');
            }
        });
    }
    function FilterDataByStatus () {
        var selectedStatusId = $('#statusID').val(); // Lấy giá trị status_id được chọn
        // Lọc các hàng trong bảng theo status_id
        $('#attendanceTableBody tr').each(function () {
            var rowStatusId = $(this).data('status-id'); // Lấy giá trị status_id của từng hàng

            if (selectedStatusId === "" || rowStatusId == selectedStatusId) {
                $(this).show(); // Hiển thị hàng nếu phù hợp với status_id đã chọn
            } else {
                $(this).hide(); // Ẩn hàng nếu không phù hợp
            }
        });
    }
</script>
